


.inputarea {

	
  text-align:center; 
  vertical-align: middle;
  

}

#carfactory {
	display: inline-block;
  vertical-align: middle;
  line-height: 14px;

}

.response {

	font-family: 'Arial Black';
	font-size: 25px;
	color: #2B95FD;
	margin-top: 30px;
	margin-bottom: 40px;
	text-align: center;
}

.input1, .input2, .input3 {
padding-bottom: 30px;

}

.mainheader {

text-align: center;
padding-top: 60px;
color: black;
margin: 0;

}


.mainmain {

background-color: #FFF;
width:40%;
height: 50%;
margin: 20px auto;
padding: 20px; 
}