<div>
  <h1 class="text-center">Movie Database</h1>

  <form class="form-inline">
    <div class="form-group">
      <label for="search">Search</label>
      <input ng-model="ctrl.search" type="text" class="form-control" id="search">
    </div>
    <div class="form-group">
      <label for="search">Sort</label>
      <select ng-model="ctrl.selectedSortOption" ng-options="sortOption.label for sortOption in ctrl.sortOptions" class="form-control"></select>
    </div>
  </form>

  <div 
    class="media movie-list-item" 
    ng-repeat="movie in ctrl.movies | 
      filter:{Title: ctrl.search} | 
      orderBy:ctrl.selectedSortOption.sortField:ctrl.selectedSortOption.reverse |
      limitTo:ctrl.moviesPerPage:ctrl.curPage*ctrl.moviesPerPage" 
    ng-click="ctrl.goToMovie(movie)">
    
    <div class="media-left">
      <div class="poster-container">
        <img class="media-object movie-poster" ng-src="{{movie.Poster}}">
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{movie.Title}} <span class="badge">{{movie.imdbRating}}</span></h4>
      <div>
        {{movie.Plot}}
      </div>
      <div class="released-date">
        Released: {{movie.Released}}
      </div>
    </div>
  </div>
  
  <div>
    <button class="btn btn-default" ng-disabled="ctrl.curPage === 0" ng-click="ctrl.curPage = ctrl.curPage - 1">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
    
    page {{ctrl.curPage + 1}} of {{ctrl.getNumPages()}}
    
    <button class="btn btn-default" ng-disabled="ctrl.curPage >= ctrl.getNumPages() - 1" ng-click="ctrl.curPage = ctrl.curPage + 1">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </button>
  </div>
</div>