<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="app.js"></script>
  </head>
  
  <!--TODO #2: use the carousel controller for everything inside the body tag.-->
  <body ng-app="carousel" ng-controller="CarouselCtrl as Ctrl">
    
    
    <h1>Calvin Carousel</h1>
    <div>
      <!--TODO #3: 
        set this img tag's src to the url for the active image.
        To start just try to get the url for the first image
      -->
      <img src="{{Ctrl.images[Ctrl.image_counter]}}">  
    </div>
    <div>
      <!--TODO #4: clicking previous should show the previous image-->
      <button ng-click="Ctrl.previous()" ng-show="Ctrl.prev_btn">Previous</button>
      
      <!--TODO #5: 
        Dynamically set which image number is being shown 
        and the total number of images 
      -->
      <span>{{Ctrl.image_counter + 1}} of 4</span>
      
      <!--TODO #4: clicking next should show the next image-->
      <button ng-click="Ctrl.next()" ng-show="Ctrl.next_btn">Next</button>
    </div>
    

  </body>
  
</html>